.App {
  text-align: center;
  height: 100vh;
}

.locations-menu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.locations-menu button {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
